# dev
.build
.next
.tool-versions
.vscode/
dist
node_modules
out
public/script.js
public/script.js.map
public/index.html
coverage/
html/

# OS
.DS_Store

# VSCode
.vscode/

dist/tsconfig.tsbuildinfo
tmp
.env.local
tsconfig.tsbuildinfo
