@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,700;1,400&display=swap");
html {
  font-size: 62.5%/1.7em;
}

body {
  margin: 0;
  font: 1rem "Inter", Arial, sans-serif;
  color: #1a1d1e;
  background: #fff;
}

body > header {
  background-color: #1a1d1e;
  padding: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

body > header a,
body > header a:visited {
  color: #fff;
  text-decoration: none;
}

body > header h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.75rem;
  font-family: "Lora", "Inter", Arial, sans-serif;
  line-height: 1em;
}

body > header .clover-repository {
  display: flex;
  font-size: 1rem;
  font-family: "Inter", Arial, sans-serif;
  color: #999 !important;
}

body > header .clover-repository svg {
  height: 1.75rem;
  fill: #fff;
  color: #fff;
  line-height: 1em;
  margin-left: 0.5rem;
}

#root {
  padding: 1.618rem 2.618rem;
}

#root .documentation-wrapper header > span {
  font-family: "Lora", "Inter", Arial, sans-serif;
  font-weight: 400;
}

button * {
  box-sizing: border-box;
}

.documentation-wrapper h1 {
  font-weight: 400;
  font-family: "Lora", "Inter", Arial, sans-serif;
}

.documentation-wrapper h2 {
  margin: 2.618rem 0 1rem;
  font-weight: 400;
  font-family: "Lora", "Inter", Arial, sans-serif;
}

code {
  background-color: #151718 !important;
  padding: 0.25rem 0.618rem;
  font-family: "IBM Plex Mono", monospace;
  border-radius: 3px;
}

pre {
  padding: 1rem;
  background-color: #151718 !important;
  border-radius: 3px;
  overflow-x: scroll;
  font-family: "IBM Plex Mono", monospace;
}

pre > code {
  padding: 0;
}

hr {
  margin: 2.618rem 0 1rem;
  color: #26292b;
}

p,
li {
  font-size: 1rem;
  line-height: 1.55em;
  font-weight: 300;
}

table {
  background-color: transparent;
  padding: 1rem 0;
}

td,
th {
  padding: 0.618rem;
  text-align: left;
}

th {
  font-weight: 300;
  color: #c1c8cd;
}

td {
  border-top: 1px solid #26292b;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

.documentation-wrapper {
  padding: 2.618rem;
  background: #1a1d1e;
  color: #fff;
}
.documentation-wrapper a,
.documentation-wrapper a:visited {
  color: #c3e88d;
}
.documentation-wrapper .clover-screenshot {
  display: none;
}
