.clover-error-fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clover-error-fallback-headline {
  font-weight: bold;
  font-size: x-large;
}

.clover-error-fallback-body {
  font-size: medium;
}
