@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=IBM+Plex+Mono&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%/1.7em;
}

body {
  margin: 0;
  font: 1rem "Inter", Arial, sans-serif;
  color: #1a1d1e;
  background: #fff;
}

#root {
  padding: 0 1rem;
}

#root header > span {
  font-weight: 400;
}

button * {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  font-family: "Calistoga", "Inter", Arial, sans-serif;
}

h2 {
  margin: 2.618rem 0 1rem;
  font-weight: 400;
  font-family: "Calistoga", "Inter", Arial, sans-serif;
}

code {
  background-color: #151718 !important;
  padding: 0.25rem 0.618rem;
  font-family: "IBM Plex Mono", monospace;
  border-radius: 3px;
}

pre {
  padding: 1rem;
  background-color: #151718 !important;
  border-radius: 3px;
  overflow-x: scroll;
  font-family: "IBM Plex Mono", monospace;
}

pre > code {
  padding: 0;
}

hr {
  margin: 2.618rem 0 1rem;
  color: #26292b;
}

p,
li {
  font-size: 1rem;
  line-height: 1.55em;
  font-weight: 300;
}

table {
  background-color: transparent;
  padding: 1rem 0;
}

td,
th {
  padding: 0.618rem;
  text-align: left;
}

th {
  font-weight: 300;
  color: #c1c8cd;
}

td {
  border-top: 1px solid #26292b;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

.documentation-wrapper {
  padding: 2.618rem;
  background: #1a1d1e;
  color: #fff;
}
.documentation-wrapper a,
.documentation-wrapper a:visited {
  color: #c3e88d;
}
.documentation-wrapper .clover-screenshot {
  display: none;
}
