.clover-viewer-information-panel {
  display: "flex";
  flex-direction: "column";
  width: "100%";
  height: "100%";
  flex-grow: "1";
  flex-shrink: "0";
  position: "relative";
  z-index: "1";
  -webkit-mask-image: linear-gradient(180deg, rgb(0, 0, 0) calc(100% - 2rem), transparent 100%);
  mask-image: linear-gradient(180deg, rgb(0, 0, 0) calc(100% - 2rem), transparent 100%);
}