.clover-search {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.clover-search[data-active="true"] {
  padding-right: 0.5rem;
}

.clover-search button {
  font-size: 0.9em;
  fill: var(--clover-color-secondary, #fff);
  color: var(--clover-color-secondary, #fff);
  stroke: var(--clover-color-secondary, #fff);
  background-color: transparent;
  border: none;
}

.clover-search button svg {
  fill: inherit;
  color: inherit;
  stroke: inherit;
  width: 1.25em;
}

/* ------------------------------ Form ------------------------------ */

.clover-scroll-search-form {
  display: flex;
  justify-content: space-between;
  transition: var(--clover-transition, all 200ms cubic-bezier(0.16, 1, 0.3, 1));
  flex-grow: 1;
  height: 2rem;
}

button.clover-scroll-search-icon {
  position: absolute;
  z-index: 3;
  border: none;
  background: transparent;
  color: var(--clover-color-secondary, #fff) !important;
  fill: var(--clover-color-secondary, #fff) !important;
  stroke: var(--clover-color-secondary, #fff) !important;
  transition: var(--clover-transition, all 200ms cubic-bezier(0.16, 1, 0.3, 1));
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--clover-radius-pill, 2rem);
  height: 2rem;
  width: 2rem;
}

.clover-scroll-search-icon svg {
  color: inherit;
  fill: inherit;
  stroke: inherit;
}

input.clover-scroll-search-input {
  margin: 0;
  background: none;
  z-index: 2;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: inherit;
  outline: none !important;
  border: none !important;
  color: var(--clover-color-secondary, #fff);
  cursor: pointer;
  box-sizing: content-box !important;
  flex-grow: 0;
  width: 2rem;
}

button.clover-scroll-search-back {
  opacity: 1;
  align-self: center;
  margin: 0 0.25rem;
  fill: var(--clover-color-secondary, #fff);
  flex-shrink: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--clover-radius-pill, 2rem);
  height: 2rem;
  width: 2rem;
}

.clover-scroll-search-back svg {
  color: inherit;
  fill: inherit;
}

.clover-scroll-search-back[aria-disabled="true"] {
  opacity: 0;
  display: none;
}

/* ---------------------- Expanded / collapsed ---------------------- */

.clover-scroll-search-form[data-panel-expanded="true"]
  .clover-scroll-search-icon {
  margin-left: 0;
  cursor: text;
}

.clover-scroll-search-form[data-panel-expanded="true"]
  .clover-scroll-search-input {
  width: 100%;
  padding: 0 1rem 0 2rem;
  cursor: text;
}

.clover-scroll-search-form[data-panel-expanded="false"]:hover {
  background-color: var(--clover-color-accent, #0065c3) !important;
  border-radius: var(--clover-radius-pill, 2rem);
}

.clover-scroll-search-form[data-panel-expanded="false"]
  .clover-scroll-search-icon {
  cursor: pointer;
}

.clover-scroll-search-form[data-panel-expanded="false"]
  .clover-scroll-search-input {
  cursor: pointer;
}

.clover-scroll-search-form[data-panel-expanded="false"]
  .clover-scroll-search-input::placeholder {
  color: transparent !important;
}

.clover-scroll-search-results-label {
  font-size: 0.9rem !important;
  color: var(--clover-color-secondary-alt, #c1c8cd);
  margin: 0 0.5em;
}
