.clover-viewer-painting {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  z-index: 0;
  overflow: hidden;
}

.clover-viewer-painting:hover .clover-viewer-placeholder {
  background-color: #6662;
}

.clover-viewer-painting-canvas {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}
